/* header links */
.home{
    position:absolute;
    height:100%;
    overflow-y:scroll;
    overflow-x: scroll;
    width: 100%;
    top:0px;
    left:0px;
    background-color: #003D82;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  
}
.toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 900;
    padding-left: 2%;
    padding-right: 2%;
  }

.spacer {
    flex: 1;
  }

.nav {
    display: flex;
    align-items: center;
}

.links {
    color: #FFFFF1;
    text-decoration: none;
    padding: 1%;
    min-width: 80px;
    font-size: 1em;
    transition: 0.2s ease;
  } 

.links:hover {
  font-size: 1.2em;
  cursor: pointer;
}

/* header */
#MD{
      padding-left: 3%;
      font-size: x-large;
  }
#MD:hover{
    font-size: 160%;
    cursor: pointer
  }

  /* landing page */
.content {
    margin: 3% 7%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
}

#myImage{
    padding: 15px;
    border: #F1A15B solid 4px;
    border-radius: 50%;
    border-collapse: separate;
    border-spacing: 10px;
    margin-top: 8%;
    margin-left: 4%;
    box-shadow: 0 0 0 15px #003D82,
                0 0 0 19px #6987A9;  
                /* ADD THESE CHANGES TO MEDIA QUERIES !!!!! */
    /* outline: #6987A9 solid 4px; */
    /* boxshadow-offset: 15px; */
    width: 30%;
    height: 30%;
}

.tw {
    font-weight: bold;
    color: #6987A9;
    font-size: 3em;
    padding-bottom: 2%;
    padding-left: 1%;
    height: 50px;
    white-space: nowrap;
    position: absolute;
}

.write-up {
    padding-top: 8%;
    padding-left: 5%;
}

.degree {
  padding-top: 30%;
  padding-left: 3%;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #FFFFF1;
}

#uc-davis {
    font-size: x-large;
    white-space: nowrap;
}


/* work page */
.work{
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#work-title{
    color: white;
    font-size: 2em;
}

.title {
    color: white;
    font-size: 110%;
}
.experience{
    background-color: #01234A;
    border: 1px solid #FFFFF1;
    border-radius: 25px;
    color: #6987A9;
    margin: 4% 0;
}
.company { 
    color: #F1A15B;
    transition: 1s;
}
.company:hover{
    color: #F1A15B;
    cursor: pointer;
}
.company-name:hover{
    font-size: 155%;
}
.role {
    padding: 4%;
    position: relative;
}
.role:hover {
    cursor: pointer;
}
.role img {
    width: 100%;
    max-width: 15%;
}

label {
    user-select: none;
}

input {
    display: none;
}

.links {
    padding-top:2%;
    padding-bottom: 2%;
}
.project-links {
    display: flex;
    align-items: center;
}
.button { 
    background-color: #6987A9;
    color: #01234A;
    padding: 1.5%;
    border-radius: 9px;
    text-decoration: none;
    margin: 2%;
    font-size: 80%;
    font-weight: 600;
    display: inline-block;
    min-width: 80px;
    text-align: center;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
}

.button:hover {
    transform: scale(1.1);
}

.date { 
    font-size: 80%;
    margin-top: -2%;
}
.short {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    height: 12%;
    width: 12%;
}

.role-description {
    max-height: 0;
    overflow: hidden;
    transition: 0.8s;
    transition-property: max-height;
    transition-timing-function: ease-out;
    color: white;
    opacity: 0.85;
    line-height: 1.4;
}

#input1:checked~#role-description1 {
    max-height: 2000px;
    transition: 1s;
    transition-property: max-height;
    transition-timing-function: ease-in-out;
}

#input2:checked ~ #role-description2 {
    max-height: 2000px;
    transition: 1s;
    transition-property: max-height;
    transition-timing-function: ease-in;
}

#input3:checked ~ #role-description3 {
    max-height: 2000px;
    transition: 1s;
    transition-property: max-height;
    transition-timing-function: ease-in;
}

#input4:checked ~ #role-description4 {
    max-height: 2000px;
    transition: 1s;
    transition-property: max-height;
    transition-timing-function: ease-in;
}

#input5:checked ~ #role-description5 {
    max-height: 2000px;
    transition: 1s;
    transition-property: max-height;
    transition-timing-function: ease-in;
}

#input6:checked ~ #role-description6 {
    max-height: 2000px;
    transition: 1s;
    transition-property: max-height;
    transition-timing-function: ease-in;
}

#input7:checked ~ #role-description6 {
    max-height: 2000px;
    transition: 1s;
    transition-property: max-height;
    transition-timing-function: ease-in;
}


/* footer */
.footer{
    color: #F1A15B;
    display: flex;
    align-items: center;
    font-size: small;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.footer.relative {
    position: relative;
}

.contact {
    padding: 12px;
    display: flex;
}
.contact a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-icon {
    float: left;
    padding-right: 10px;
}
 
#phone-logo {
    height: 22px;
    width: 22px;
}

#mail-logo { 
    height: 20px;
    width: 20px;
    padding-right: 1%;
}

#linkedIn-logo {
    height: 25px;
    width: 25px;
}

#linkedIn-link {
    border-left: 10px solid #003D82;
    text-decoration: none;
    color: #F1A15B;
    position: relative;
    top: 4px;
}

#mail-link{
    border-left: 10px solid #003D82;
    text-decoration: none;
    color: #F1A15B;
    position: relative;
    top: 2px;
}

#phone-no { 
    border-left: 8px solid #003D82;
    text-decoration: none;
    color: #F1A15B;
    position: relative;
    top: 5px;
}


/* media queries */
@media (max-width: 1000px) {
    .tw {
        padding-bottom: 10%;
        margin-bottom: 2%;
    }
    #uc-davis {
        font-size: 1.2em;
    } 
    .degree {
        font-size: 1em;
        padding-top: 20%;
    }
    .content{
        flex-direction: column;
        padding-top: 0;
    } 

    #myImage{
        align-self: center;
        margin-left: 0;
        margin-right: 11%;
        width: 30%;
        border: #F1A15B solid 3px;
        box-shadow: 0 0 0 12px #003D82,
                    0 0 0 15px #6987A9; 
        /* outline: #6987A9 solid 3px;
        outline-offset: 12px; */
    }

    .write-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 20%;
        padding-top: 0%;
    }
}

@media (max-width: 850px) {
    .degree {
        margin-top: 12%;
    }
    #myImage{
        width: 35%;
        border: #F1A15B solid 3px;
        box-shadow: 0 0 0 10px #003D82,
                    0 0 0 13px #6987A9; 
        /* outline: #6987A9 solid 3px;
        outline-offset: 10px; */
    }
}

@media (max-width: 650px) {
    .tw {
        font-size: 2em;
    }

    .content {
        margin-top: 12%;
    }
    
    #myImage {
        width: 40%;
    }

    .work {
        width: 80%;
    }

    .role img {
        max-width: 25%;
    }

    .footer-link {
        display: none;
    }
}

@media (max-width: 480px) {
    #work-title {
        font-size: 1.5em;
    }
    .degree {
        margin-top: 24%;
    }
    #myImage{
        width: 45%;
        border: #F1A15B solid 2px;
        box-shadow: 0 0 0 10px #003D82,
                    0 0 0 12px #6987A9; 
        outline: #6987A9 solid 2px;
        outline-offset: 10px;
    }
    
}

@media (max-width: 400px) {
    #myImage {
        width: 50%;
    }
    .degree {
        border-top: 15px solid #003D82;
    }
}